<%- include("./partials/head", {pageName: "404.ejs" }) %>

    <body>
        <h1>404 Error</h1>
        <p>You went to the wrong page go back</p>
        <a href="http://localhost:3000/">Go Back</a>
        <footer>
            <%- include("./partials/footer") %>
        </footer>
    </body>